USE [northwind]
GO
/****** Object:  Schema [m2ss]    Script Date: 31/05/2019 03:52:18 p.m. ******/
CREATE SCHEMA [m2ss]
GO
/****** Object:  Schema [northwind]    Script Date: 31/05/2019 03:52:18 p.m. ******/
CREATE SCHEMA [northwind]
GO
/****** Object:  Table [northwind].[categorias]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[categorias](
	[IdCategoria] [tinyint] IDENTITY(9,1) NOT NULL,
	[NombreCategoria] [nvarchar](15) NOT NULL DEFAULT (N''),
	[Descripcion] [nvarchar](max) NOT NULL,
	[Imagen] [nvarchar](50) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_categorias_IdCategoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [northwind].[clientes]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[clientes](
	[IdCliente] [nvarchar](5) NOT NULL DEFAULT (N''),
	[NombreCompania] [nvarchar](40) NOT NULL DEFAULT (N''),
	[NombreContacto] [nvarchar](30) NOT NULL DEFAULT (N'Unknown'),
	[CargoContacto] [nvarchar](30) NOT NULL DEFAULT (N''),
	[Direccion] [nvarchar](60) NOT NULL DEFAULT (N''),
	[Ciudad] [nvarchar](15) NOT NULL DEFAULT (N''),
	[Region] [nvarchar](15) NOT NULL DEFAULT (N''),
	[CodigoPostal] [nvarchar](10) NOT NULL DEFAULT (N''),
	[Pais] [nvarchar](15) NOT NULL DEFAULT (N''),
	[Telefono] [nvarchar](24) NOT NULL DEFAULT (N''),
	[Fax] [nvarchar](24) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_clientes_IdCliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[companiasenvio]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[companiasenvio](
	[IdCompaniaEnvio] [bigint] IDENTITY(4,1) NOT NULL,
	[NombreCompania] [nvarchar](40) NOT NULL DEFAULT (N''),
	[Telefono] [nvarchar](24) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_companiasenvio_IdCompaniaEnvio] PRIMARY KEY CLUSTERED 
(
	[IdCompaniaEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[detalles_pedido]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[detalles_pedido](
	[IdDetallePedido] [bigint] IDENTITY(2156,1) NOT NULL,
	[IdPedido] [bigint] NOT NULL,
	[IdProducto] [bigint] NOT NULL,
	[PrecioUnitario] [float] NOT NULL DEFAULT ((0)),
	[Cantidad] [int] NOT NULL DEFAULT ((1)),
	[Descuento] [real] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_detalles_pedido_IdDetallePedido] PRIMARY KEY CLUSTERED 
(
	[IdDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[empleado_territorio]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[empleado_territorio](
	[IdEmpleado] [bigint] NOT NULL,
	[IdTerritorio] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_empleado_territorio_IdEmpleado] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC,
	[IdTerritorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[empleados]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[empleados](
	[IdEmpleado] [bigint] IDENTITY(10,1) NOT NULL,
	[Apellido] [nvarchar](20) NOT NULL DEFAULT (N''),
	[Nombre] [nvarchar](10) NOT NULL DEFAULT (N''),
	[Cargo] [nvarchar](30) NOT NULL DEFAULT (N''),
	[Tratamiento] [nvarchar](25) NOT NULL DEFAULT (N''),
	[FechaNacimiento] [datetime2](0) NOT NULL,
	[FechaContratacion] [datetime2](0) NOT NULL,
	[Direccion] [nvarchar](60) NOT NULL DEFAULT (N''),
	[Ciudad] [nvarchar](15) NOT NULL DEFAULT (N''),
	[Region] [nvarchar](15) NOT NULL DEFAULT (N''),
	[CodigoPostal] [nvarchar](10) NOT NULL DEFAULT (N''),
	[Pais] [nvarchar](15) NOT NULL DEFAULT (N''),
	[TelefonoDomicilio] [nvarchar](24) NOT NULL DEFAULT (N''),
	[Extension] [nvarchar](4) NOT NULL DEFAULT (N''),
	[Foto] [nvarchar](50) NOT NULL DEFAULT (N''),
	[Notas] [nvarchar](max) NULL,
	[Jefe] [bigint] NULL DEFAULT (NULL),
 CONSTRAINT [PK_empleados_IdEmpleado] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [northwind].[pedidos]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[pedidos](
	[IdPedido] [bigint] IDENTITY(11078,1) NOT NULL,
	[IdCliente] [nvarchar](5) NOT NULL DEFAULT (N''),
	[IdEmpleado] [bigint] NOT NULL,
	[FechaPedido] [datetime2](0) NOT NULL,
	[FechaEntrega] [datetime2](0) NULL DEFAULT (NULL),
	[FechaEnvio] [datetime2](0) NULL DEFAULT (NULL),
	[EnviadoVia] [bigint] NOT NULL,
	[Flete] [float] NOT NULL DEFAULT ((0)),
	[NombreDestinatario] [nvarchar](40) NOT NULL DEFAULT (N''),
	[DireccionDestinatario] [nvarchar](60) NOT NULL DEFAULT (N''),
	[CiudadDestino] [nvarchar](15) NOT NULL DEFAULT (N''),
	[RegionDestino] [nvarchar](15) NOT NULL DEFAULT (N''),
	[CodigoPostalDestinatario] [nvarchar](10) NOT NULL DEFAULT (N''),
	[PaisDestino] [nvarchar](15) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_pedidos_IdPedido] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[productos]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[productos](
	[IdProducto] [bigint] IDENTITY(78,1) NOT NULL,
	[NombreProducto] [nvarchar](40) NOT NULL DEFAULT (N''),
	[IdProveedor] [bigint] NOT NULL,
	[IdCategoria] [tinyint] NOT NULL,
	[CantidadPorUnidad] [nvarchar](20) NOT NULL DEFAULT (N''),
	[PrecioUnitario] [float] NOT NULL DEFAULT ((0)),
	[UnidadesEnStock] [int] NOT NULL DEFAULT ((0)),
	[UnidadesEnPedido] [int] NOT NULL DEFAULT ((0)),
	[NivelReorden] [int] NOT NULL DEFAULT ((0)),
	[Descontinuado] [nvarchar](1) NOT NULL DEFAULT (N'n'),
 CONSTRAINT [PK_productos_IdProducto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[proveedores]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[proveedores](
	[IdProveedor] [bigint] IDENTITY(30,1) NOT NULL,
	[NombreCompania] [nvarchar](40) NOT NULL DEFAULT (N''),
	[NombreContacto] [nvarchar](30) NOT NULL DEFAULT (N''),
	[CargoContacto] [nvarchar](30) NOT NULL DEFAULT (N''),
	[Direccion] [nvarchar](60) NOT NULL DEFAULT (N''),
	[Ciudad] [nvarchar](15) NOT NULL DEFAULT (N''),
	[Region] [nvarchar](15) NOT NULL DEFAULT (N''),
	[CodigoPostal] [nvarchar](10) NOT NULL DEFAULT (N''),
	[Pais] [nvarchar](15) NOT NULL DEFAULT (N''),
	[Telefono] [nvarchar](24) NOT NULL DEFAULT (N''),
	[Fax] [nvarchar](24) NOT NULL DEFAULT (N''),
	[HomePage] [nvarchar](255) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_proveedores_IdProveedor] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[regiones]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[regiones](
	[IdRegion] [int] IDENTITY(5,1) NOT NULL,
	[DescripcionRegion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_regiones_IdRegion] PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [northwind].[territorios]    Script Date: 31/05/2019 03:52:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [northwind].[territorios](
	[IdTerritorio] [nvarchar](5) NOT NULL,
	[DescripcionTerritorio] [nvarchar](50) NOT NULL,
	[IdRegion] [int] NOT NULL,
 CONSTRAINT [PK_territorios_IdTerritorio] PRIMARY KEY CLUSTERED 
(
	[IdTerritorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [northwind].[categorias] ON 

INSERT [northwind].[categorias] ([IdCategoria], [NombreCategoria], [Descripcion], [Imagen]) VALUES (1, N'Bebidas', N'Gaseosas, café, té, cervezas y maltas', N'beverages.gif')
INSERT [northwind].[categorias] ([IdCategoria], [NombreCategoria], [Descripcion], [Imagen]) VALUES (2, N'Condimentos', N'Salsas dulces y picantes, delicias, comida para untar y aderezos', N'condiments.gif')
INSERT [northwind].[categorias] ([IdCategoria], [NombreCategoria], [Descripcion], [Imagen]) VALUES (3, N'Repostería', N'Postres, dulces y pan dulce', N'confections.gif')
SET IDENTITY_INSERT [northwind].[categorias] OFF
INSERT [northwind].[clientes] ([IdCliente], [NombreCompania], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodigoPostal], [Pais], [Telefono], [Fax]) VALUES (N'ALFAA', N'Alfreds Futterkiste', N'Maria Anders', N'Representante de ventas', N'Obere Str. 57', N'Berlín', N'', N'12209', N'Alemania', N'030-0074321', N'030-0076545')
INSERT [northwind].[clientes] ([IdCliente], [NombreCompania], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodigoPostal], [Pais], [Telefono], [Fax]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Propietario', N'Avda. de la Constitución 2222', N'México D.F.', N'', N'05021', N'México', N'(5) 555-4729', N'(5) 555-3745')
INSERT [northwind].[clientes] ([IdCliente], [NombreCompania], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodigoPostal], [Pais], [Telefono], [Fax]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Antonio Moreno', N'Propietario', N'Mataderos  2312', N'México D.F.', N'', N'05023', N'México', N'(5) 555-3932', N'')
SET IDENTITY_INSERT [northwind].[companiasenvio] ON 

INSERT [northwind].[companiasenvio] ([IdCompaniaEnvio], [NombreCompania], [Telefono]) VALUES (1, N'Speedy Express', N'(503) 555-9831')
INSERT [northwind].[companiasenvio] ([IdCompaniaEnvio], [NombreCompania], [Telefono]) VALUES (2, N'United Package', N'(503) 555-3199')
INSERT [northwind].[companiasenvio] ([IdCompaniaEnvio], [NombreCompania], [Telefono]) VALUES (3, N'Federal Shipping', N'(503) 555-9931')
SET IDENTITY_INSERT [northwind].[companiasenvio] OFF
SET IDENTITY_INSERT [northwind].[detalles_pedido] ON 

INSERT [northwind].[detalles_pedido] ([IdDetallePedido], [IdPedido], [IdProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (1, 10248, 11, 14, 12, 0)
INSERT [northwind].[detalles_pedido] ([IdDetallePedido], [IdPedido], [IdProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (2, 10248, 42, 9.8, 10, 0)
INSERT [northwind].[detalles_pedido] ([IdDetallePedido], [IdPedido], [IdProducto], [PrecioUnitario], [Cantidad], [Descuento]) VALUES (3, 10248, 72, 34.8, 5, 0)
GO
SET IDENTITY_INSERT [northwind].[detalles_pedido] OFF
INSERT [northwind].[empleado_territorio] ([IdEmpleado], [IdTerritorio]) VALUES (2, N'01581')
INSERT [northwind].[empleado_territorio] ([IdEmpleado], [IdTerritorio]) VALUES (2, N'01730')
INSERT [northwind].[empleado_territorio] ([IdEmpleado], [IdTerritorio]) VALUES (2, N'01833')
SET IDENTITY_INSERT [northwind].[empleados] ON 

SET IDENTITY_INSERT [northwind].[empleados] OFF
SET IDENTITY_INSERT [northwind].[pedidos] ON 

INSERT [northwind].[pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [EnviadoVia], [Flete], [NombreDestinatario], [DireccionDestinatario], [CiudadDestino], [RegionDestino], [CodigoPostalDestinatario], [PaisDestino]) VALUES (10248, N'VINET', 5, CAST(N'1996-07-04 00:00:00.0000000' AS DateTime2), CAST(N'1996-08-01 00:00:00.0000000' AS DateTime2), CAST(N'1996-07-16 00:00:00.0000000' AS DateTime2), 3, 32.38, N'Vins et alcools Chevalier', N'59 rue de l''Abbaye', N'Reims', N'', N'51100', N'Francia')
INSERT [northwind].[pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [EnviadoVia], [Flete], [NombreDestinatario], [DireccionDestinatario], [CiudadDestino], [RegionDestino], [CodigoPostalDestinatario], [PaisDestino]) VALUES (10249, N'TOMSP', 6, CAST(N'1996-07-05 00:00:00.0000000' AS DateTime2), CAST(N'1996-08-16 00:00:00.0000000' AS DateTime2), CAST(N'1996-07-10 00:00:00.0000000' AS DateTime2), 1, 11.61, N'Toms Spezialitäten', N'Luisenstr. 48', N'Münster', N'', N'44087', N'Alemania')
INSERT [northwind].[pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvio], [EnviadoVia], [Flete], [NombreDestinatario], [DireccionDestinatario], [CiudadDestino], [RegionDestino], [CodigoPostalDestinatario], [PaisDestino]) VALUES (10250, N'HANAR', 4, CAST(N'1996-07-08 00:00:00.0000000' AS DateTime2), CAST(N'1996-08-05 00:00:00.0000000' AS DateTime2), CAST(N'1996-07-12 00:00:00.0000000' AS DateTime2), 2, 65.83, N'Hanari Carnes', N'Rua do Paço, 67', N'Río de Janeiro', N'RJ', N'05454-876', N'Brasil')
GO
SET IDENTITY_INSERT [northwind].[pedidos] OFF
SET IDENTITY_INSERT [northwind].[productos] ON 

INSERT [northwind].[productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoria], [CantidadPorUnidad], [PrecioUnitario], [UnidadesEnStock], [UnidadesEnPedido], [NivelReorden], [Descontinuado]) VALUES (1, N'Té Dharamsala', 1, 1, N'10 cajas x 20 bolsas', 18, 39, 0, 10, N'n')
INSERT [northwind].[productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoria], [CantidadPorUnidad], [PrecioUnitario], [UnidadesEnStock], [UnidadesEnPedido], [NivelReorden], [Descontinuado]) VALUES (2, N'Cerveza tibetana Barley', 1, 1, N'24 - bot. 12 l', 19, 17, 40, 25, N'n')
INSERT [northwind].[productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoria], [CantidadPorUnidad], [PrecioUnitario], [UnidadesEnStock], [UnidadesEnPedido], [NivelReorden], [Descontinuado]) VALUES (3, N'Sirope de regaliz', 1, 2, N'12 - bot. 550 ml', 10, 13, 70, 25, N'n')
SET IDENTITY_INSERT [northwind].[productos] OFF
SET IDENTITY_INSERT [northwind].[proveedores] ON 

INSERT [northwind].[proveedores] ([IdProveedor], [NombreCompania], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodigoPostal], [Pais], [Telefono], [Fax], [HomePage]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Gerente de compras', N'49 Gilbert St.', N'Londres', N'', N'EC1 4SD', N'Reino Unido', N'(171) 555-2222', N'', N'')
INSERT [northwind].[proveedores] ([IdProveedor], [NombreCompania], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodigoPostal], [Pais], [Telefono], [Fax], [HomePage]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Administrador de pedidos', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'Estados Unidos', N'(100) 555-4822', N'', N'#CAJUN.HTM#')
INSERT [northwind].[proveedores] ([IdProveedor], [NombreCompania], [NombreContacto], [CargoContacto], [Direccion], [Ciudad], [Region], [CodigoPostal], [Pais], [Telefono], [Fax], [HomePage]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Representante de ventas', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'Estados Unidos', N'(313) 555-5735', N'(313) 555-3349', N'')
SET IDENTITY_INSERT [northwind].[proveedores] OFF
SET IDENTITY_INSERT [northwind].[regiones] ON 

INSERT [northwind].[regiones] ([IdRegion], [DescripcionRegion]) VALUES (1, N'Este')
INSERT [northwind].[regiones] ([IdRegion], [DescripcionRegion]) VALUES (2, N'Oeste')
INSERT [northwind].[regiones] ([IdRegion], [DescripcionRegion]) VALUES (3, N'Norte')
SET IDENTITY_INSERT [northwind].[regiones] OFF
INSERT [northwind].[territorios] ([IdTerritorio], [DescripcionTerritorio], [IdRegion]) VALUES (N'01581', N'Westboro', 1)
INSERT [northwind].[territorios] ([IdTerritorio], [DescripcionTerritorio], [IdRegion]) VALUES (N'01730', N'Bedford', 1)
INSERT [northwind].[territorios] ([IdTerritorio], [DescripcionTerritorio], [IdRegion]) VALUES (N'01833', N'Georgetow', 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [categorias$Uidx_categorias_category_name]    Script Date: 31/05/2019 03:52:18 p.m. ******/
ALTER TABLE [northwind].[categorias] ADD  CONSTRAINT [categorias$Uidx_categorias_category_name] UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [detalles_pedido$Uidx_IdPedido_IdProducto]    Script Date: 31/05/2019 03:52:18 p.m. ******/
ALTER TABLE [northwind].[detalles_pedido] ADD  CONSTRAINT [detalles_pedido$Uidx_IdPedido_IdProducto] UNIQUE NONCLUSTERED 
(
	[IdPedido] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [northwind].[detalles_pedido]  WITH NOCHECK ADD  CONSTRAINT [detalles_pedido$FK_detalles_pedido_IdPedido] FOREIGN KEY([IdPedido])
REFERENCES [northwind].[pedidos] ([IdPedido])
GO
ALTER TABLE [northwind].[detalles_pedido] CHECK CONSTRAINT [detalles_pedido$FK_detalles_pedido_IdPedido]
GO
ALTER TABLE [northwind].[detalles_pedido]  WITH NOCHECK ADD  CONSTRAINT [detalles_pedido$FK_detalles_pedido_IdProducto] FOREIGN KEY([IdProducto])
REFERENCES [northwind].[productos] ([IdProducto])
GO
ALTER TABLE [northwind].[detalles_pedido] CHECK CONSTRAINT [detalles_pedido$FK_detalles_pedido_IdProducto]
GO
ALTER TABLE [northwind].[empleado_territorio]  WITH NOCHECK ADD  CONSTRAINT [empleado_territorio$fk_empleado_et] FOREIGN KEY([IdEmpleado])
REFERENCES [northwind].[empleados] ([IdEmpleado])
GO
ALTER TABLE [northwind].[empleado_territorio] CHECK CONSTRAINT [empleado_territorio$fk_empleado_et]
GO
ALTER TABLE [northwind].[empleado_territorio]  WITH NOCHECK ADD  CONSTRAINT [empleado_territorio$fk_territorios_et] FOREIGN KEY([IdTerritorio])
REFERENCES [northwind].[territorios] ([IdTerritorio])
GO
ALTER TABLE [northwind].[empleado_territorio] CHECK CONSTRAINT [empleado_territorio$fk_territorios_et]
GO
ALTER TABLE [northwind].[empleados]  WITH NOCHECK ADD  CONSTRAINT [empleados$FK_empleados_reports_to] FOREIGN KEY([Jefe])
REFERENCES [northwind].[empleados] ([IdEmpleado])
GO
ALTER TABLE [northwind].[empleados] CHECK CONSTRAINT [empleados$FK_empleados_reports_to]
GO
ALTER TABLE [northwind].[pedidos]  WITH NOCHECK ADD  CONSTRAINT [pedidos$FK_pedidos_customer_id] FOREIGN KEY([IdCliente])
REFERENCES [northwind].[clientes] ([IdCliente])
GO
ALTER TABLE [northwind].[pedidos] CHECK CONSTRAINT [pedidos$FK_pedidos_customer_id]
GO
ALTER TABLE [northwind].[pedidos]  WITH NOCHECK ADD  CONSTRAINT [pedidos$FK_pedidos_IdEmpleado] FOREIGN KEY([IdEmpleado])
REFERENCES [northwind].[empleados] ([IdEmpleado])
GO
ALTER TABLE [northwind].[pedidos] CHECK CONSTRAINT [pedidos$FK_pedidos_IdEmpleado]
GO
ALTER TABLE [northwind].[pedidos]  WITH NOCHECK ADD  CONSTRAINT [pedidos$FK_pedidos_ViaEmbarcacion] FOREIGN KEY([EnviadoVia])
REFERENCES [northwind].[companiasenvio] ([IdCompaniaEnvio])
GO
ALTER TABLE [northwind].[pedidos] CHECK CONSTRAINT [pedidos$FK_pedidos_ViaEmbarcacion]
GO
ALTER TABLE [northwind].[productos]  WITH NOCHECK ADD  CONSTRAINT [productos$FK_productos_IdCategoria] FOREIGN KEY([IdCategoria])
REFERENCES [northwind].[categorias] ([IdCategoria])
GO
ALTER TABLE [northwind].[productos] CHECK CONSTRAINT [productos$FK_productos_IdCategoria]
GO
ALTER TABLE [northwind].[productos]  WITH NOCHECK ADD  CONSTRAINT [productos$FK_productos_IdProveedor] FOREIGN KEY([IdProveedor])
REFERENCES [northwind].[proveedores] ([IdProveedor])
GO
ALTER TABLE [northwind].[productos] CHECK CONSTRAINT [productos$FK_productos_IdProveedor]
GO
ALTER TABLE [northwind].[territorios]  WITH NOCHECK ADD  CONSTRAINT [territorios$fk_regio] FOREIGN KEY([IdRegion])
REFERENCES [northwind].[regiones] ([IdRegion])
GO
ALTER TABLE [northwind].[territorios] CHECK CONSTRAINT [territorios$fk_regio]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.categorias' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'categorias'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.clientes' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'clientes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.companiasenvio' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'companiasenvio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.detalles_pedido' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'detalles_pedido'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.empleado_territorio' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'empleado_territorio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.empleados' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'empleados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.pedidos' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'pedidos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.productos' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'productos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.proveedores' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'proveedores'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.regiones' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'regiones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'northwind.territorios' , @level0type=N'SCHEMA',@level0name=N'northwind', @level1type=N'TABLE',@level1name=N'territorios'
GO
